.tabSelector {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 6px;
  background-color: #e6e6e6;
  transition: background-color 0.15s ease;

  @media (hover: hover) {
    &:hover {
      transition: background-color 0.15s ease;
      background-color: #d4d4d4;
    }
  }

  &-option {
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 12px;
    border-radius: 4px;

    &_selected {
      background-color: #ffffff;
    }
  }
}
