.iconButton {
  & > svg {
    display: flex;
    width: 16px;
    height: 16px;
    z-index: 11;
  }

  position: relative;
  cursor: pointer;
  background-color: transparent;

  @media (hover: hover) {
    &:hover {
      &::after {
        transition: background-color 0.15s ease;
        background-color: rgb(230, 230, 230);
      }
    }
  }

  &::after {
    z-index: 10;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    transition: background-color 0.15s ease;
  }

  &_size_lg {
    & > svg {
      width: 36px;
      height: 36px;
    }

    &::after {
      width: 48px;
      height: 48px;
    }
  }

  &_size_md {
    & > svg {
      width: 24px;
      height: 24px;
    }

    &::after {
      width: 32px;
      height: 32px;
    }
  }
}
