.clearButton {
  cursor: pointer;

  &_large {
    display: none;
    white-space: nowrap;
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background 0.3s ease;
    &:hover {
      background-color: #d4d4d4;
      transition: background 0.3s ease;
    }
  }

  @media screen and (min-width: 578px) {
    &_large {
      display: inline;
    }
    &_small {
      display: none !important;
    }
  }
}
